<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="StorageConnectionString" value="[your azure storage account connection string]"/>
		<add key="StorageContainer" value="clipboard-temp"/>
		<add key="ServiceBusConnectionString" value="[your service bus connection string]"/>
		<!-- Local and remote names must be swapped on the two computers you want to connect. -->
		<add key="LocalName" value="desktop"/>
		<add key="RemoteName" value="myrdpmachine"/>
	</appSettings>
</configuration>